@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

.authorizationDiv {
  padding-top: 1rem !important;
  margin: 1rem;
  vertical-align: middle;
}

.generateNewIDDiv {
  margin: 3rem 1rem 1rem !important;

  .generateButton {
    /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .goodButton {
    background-color: green;
    color: white;
  }

  .badButton {
    background-color: red !important;
    color: white;
  }

  #snapshotDiv {
    margin-top: 1rem;

    textarea {
      resize: none !important;
      border: 1px solid;
      width: 60rem;
      padding-left: 1rem;
    }

    textarea::placeholder {
      padding-left: 1rem;
    }
  }

  #detailDiv {
    margin-top: 1rem;
    margin-left: 1rem;

    input {
      border: 1px solid;
      margin-left: 2rem;
      height: 3rem;
      padding-left: 1rem;
    }

    input::placeholder {
      padding-left: 1rem;
    }

    .titleInput {
      width: 30rem;
    }
  }

  #saveNewPostDetail {
    margin-top: 1rem;
    height: 10rem;
    width: 10rem;
  }

  .detailBlock {
    padding-top: 1rem;
    padding-bottom:: 1rem;
    // background-color: black;
  }
}

.uploadHTMLDiv {
  // margin: 3rem 1rem 1rem !important;
  #errorMsgUploadHTML {
    margin-top: 1rem !important;
  }

  #selectedHTML {
    margin-top: 1rem !important;
  }

  #uploadHTML {
    margin-top: 1rem !important;
  }
}

.uploadImageDiv {
  // margin: 3rem 1rem 1rem !important;
  #errorMsgUploadImage {
    margin-top: 1rem !important;
  }

  #selectedIMG {
    margin-top: 1rem !important;
  }

  #upload {
    margin-top: 1rem !important;
  }
}